@page
@model History.Pages.AuthModel
@{
}

<div class="text-center">
    <h1 class="display-4">Авторизация</h1>
    <form action="/" method="POST">
        <div id="main">
            <input type="text" placeholder="Login" name="login" />
            <input type="password" placeholder="Password" name="password" />
            <button id="logbtn">Войти</button>
        </div>
    </form>
    <!--тут типа форма авторизации как вконтакте только без забыли пароль и регистрации-->
</div>
