@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Шестилетняя поножовщина на море или битва за Атлантику 1939-1945</h1>
    <div id="main">
        <div id="shortData">
            Битва за Атлантику (1939 - 1945) — Это было самое длительное морское сражение Второй мировой войны. Оно началось в 1939 г. и закончилось только после полного разгрома «Кригсмарине» (германский флот) в 1945 г. Боевые действия в Атлантическом океане то затихали, то разворачивались с новой силой, но не прекращались на протяжении всей войны.
        </div>
        <div id="site_description">
            На нашем сайте вы сможете узнать больше об этом событии и некоторые интересные факты об учавствоваших в нём суднах. Добро пожаловать. 
        </div>
    </div>
</div>
